.navbar-default {
  background-color: #FFEEFF
}

.navbar-header {
  background-color: #FFEEFF
}

.page-header {
  margin-top: 80px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.15em;
  font-size: 13px;
}

.toppage {
  text-align: center;
  margin: 80px auto 200px;
}

.row {
  margin-bottom: 200px;
}

b {
  font-size: 14px;
}

h3.titleh3 {
  margin-top: 80px;
}

img.contentsimage {
  width: 30vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
img.contentsimage2 {
  width: 18vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

img.contentsimage3 {
  width: 120px;
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.icon {
  width: 20px;
  margin-top:20px;
  margin-left: 5px;
  margin-right: 5px;
}

li {
  list-style-type: square;
}

div.cntmargin {
  margin-top: 80px;
  margin-bottom: 80px;
}

.under-div {
  background-color: #FFCCFF;
}

/*
アイコンのシャドウ
 */

a.overwhite:hover img{
  cursor:pointer;
  filter: alpha(opacity=60);        /* ie lt 8 */
  -ms-filter: "alpha(opacity=60)";  /* ie 8 */
  -moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.6;              /* Safari 1.x */
  opacity:0.6;
  zoom:1;
  background-color: #ffffff;
  display:block;
  content: "about";
}