    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .jumbotron {
        width: 100%;
        margin: 0;
        padding: 0;
        background: #FFF;
    }
    
    .a {
        size: 10px;
    }
    
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 100px;
    }
    
    .navbar-default {
        width: 100%;
        background: #FFF;
        border: NONE;
    }
    
    .navbar-collapse {
        height: 100px;
    }
    
    .navbar-brand {
        padding: 5px;
    }
    
    .navbar-brand img {
        height: 100%;
    }
    
    nav {
        width: 100%;
    }
    
    li.active a {
        background-color: #FFF;
        color: #FFF;
    }
    
    h1 {
        padding-top: 100px;
        margin-top: 500px;
        margin-bottom: 40px;
        letter-spacing: 0.1em;
        text-align: center;
        font-family: 'Muli', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Questrial', sans-serif;
    }
    
    h3 {
        margin-top: 80px;
        text-align: center;
    }
    
    p.wellcome {
        text-align: center;
        width: 60vw;
        margin: 0 auto;
        margin-top: 100px;
        font-size: 30px;
        letter-spacing: 0.15em;
        font-family: 'Quicksand', sans-serif;
    }
    
    p.contents {
        text-align: center;
        width: 60vw;
        margin: 0 auto;
        font-size: 13px;
        letter-spacing: 0.1em;
        font-family: 'Muli', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Questrial', sans-serif;
        font-family: 'Noto Sans', sans-serif;
    }
    
    table.skill-table {
        text-align: center;
        width: 20vw;
        margin: 0 auto;
        font-size: 15px;
        letter-spacing: 0.1em;
    }
    
    p.contents-contents {
        text-align: center;
        width: 40vw;
        font-size: 13px;
        letter-spacing: 0.1em;
        margin: 200px auto 50px;
        font-family: 'Muli', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Questrial', sans-serif;
        font-family: 'Noto Sans', sans-serif;
    }
    
    p.contents-contents img {
        width: 40vw;
    }
    
    .youtube {
        margin: 10px 0;
        position: relative;
        padding-top: 25%;
        width: 80%;
        /*height: 100%; */
        max-width: 40vw;
        margin: 0 auto;
    }
    
    .youtube iframe {
        text-align: center;
        margin: 0 auto;
        display: block;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    .contents-comment {
        position: absolute;
        text-align: center;
    }
    
    @font-face {
        font-family: kazufont2b_s;
        src: url(webfont/kazufont2b_web_s.eot?) format("eot"), url(webfont/kazufont2b_web_s.woff) format("woff"), url(webfont/kazufont2b_web_s.ttf) format("truetype");
    }
    
    #fontchange p {
        font-family: kazufont2b_s;
        font-size: 130%;
        color: red;
        text-align: center;
    }