.navbar-default {
  background-color: #FFEEFF
}

.navbar-header {
  background-color: #FFEEFF
}

.page-header {
  margin-top: 80px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.15em;
  font-size: 13px;
}

b {
  font-size: 14px;
}

h3 {
  margin-top: 80px;
}

img.contentsimage {
  width: 30vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

img.icon {
  width: 20px;
  margin-top:20px;
  margin-left: 5px;
  margin-right: 5px;
}

li {
  list-style-type: square;
}

div.cntmargin {
  margin-top: 80px;
  margin-bottom: 80px;
}

.under-div {
  background-color: #FFCCFF;
}
